body {
	background: #333;
}

h2 {
	color:white;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
	font-weight: bolder;
}

#gameContainer {
/*	background: white;
*/	width: 1024px;
	height: 768px;
	border: 2px solid black;
	margin: 20px;
	background: #ccc url("../images/DannyMcGrath.jpg");
	background-size:121%;
	background-repeat: no-repeat;
	z-index: 1;
}

p#gameBroke {
	text-align: center;
	background: red;
	border-bottom: 3px solid black;
	font-size: 20px;
}

p#version {
	text-align: right;
	padding-right: 20px;
}

.characterBox {
	height: 150px;
	width: 150px;
	border: 2px solid gray;
	padding: 5px;
	margin: 20px;
	text-align: center;
	background: white;
}


/*add 220px for middle line*/
#char1 {
	position: absolute;
	left: 20px;
	top: 60px;
	z-index: 3;
}

#char2 {
	position: absolute;
	left: 190px;
	top: 60px;
	z-index: 5
}

#char3 {
	position: absolute;
	left: 360px;
	top: 60px;
	z-index: 7;
}

#char4 {
	position: absolute;
	left: 530px;
	top: 60px;
	z-index: 9;
}

span.chars {
	text-align: center;	
	position: absolute;
	left: 50px;
	bottom: 10px;
}

span#version {
	text-align: right;
	margin-left: 800px;
}

button {
	background: white;
	margin-left: 20px;
}